html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.App {
  height: 100%;
}

main {

}
h1 {
  font-size: 22px !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 16px !important;
}

h5 {
  font-size: 14px !important;
}

.logo {
  text-align: center;
  h1 {
    font-weight: 600;
    color: $eastern-blue;
  }
  &:hover {
    text-decoration: none !important;
    h1 {
      color: $scooter;
    }
  }
}

.logo--landing {
  height: 200px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  img {
    width: 120px;
    margin-bottom: 12px;
  }
}





