html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.App {
  height: 100vh;
}

main {

}

.App {

}





