/* Dimensions */

/* Colors */
$white: #ffffff;
$gallery: #eaeaea;
$dove-gray: #666666;
$porcelain: #F9FBFB;
$keppel: #40B3A2;
$persian-green: #01989D;
$eastern-blue: #19869a;
$scooter: #24c0db;
$alizaring-crimson: #E32636;
$purple-heart: #5244D5;
$medium-purple: #7a6fde;
$sirocco: #6D7778;
$crimson: #CE1253;
$valencia: #DF494A;

@mixin flex-box($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin inline-flex-box($direction, $justify, $align) {
  display: inline-flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-mixin($weight, $size, $line, $family: $montserrat) {
  font: normal normal $weight #{$size}/#{$line} $family;
}

@mixin action-btn-styles($bg-color, $color, $border-width, $border-clr) {
  background-color: $bg-color;
  color: $color;
  border: $border-width solid $border-clr;
}

@mixin reset-btn-styles ($brdr-radius: 0, $padding: 5px 10px,  $outline-clr: transparent) {
  border-radius: $brdr-radius !important;
  outline: $outline-clr !important;
  padding: $padding;
}

@mixin box-shadow($dimensions, $color) {
  -moz-box-shadow: $dimensions $color;
  -webkit-box-shadow: $dimensions $color;
  -o-box-shadow: $dimensions $color;
  box-shadow: $dimensions $color;
}

/* Transition */
@mixin transition-mixin($property, $duration, $curve){
  -webkit-transition: $property $duration $curve;
  -moz-transition: $property $duration $curve;
  -o-transition: $property $duration $curve;
  transition: $property $duration $curve;
}

/* Animation */

@mixin animation-mixin($anim) {
  -webkit-animation: $anim;
  -moz-animation: $anim;
  -o-animation: $anim;
  animation: $anim;
}

